/* OPA Tabs */
:root {
  --opa-text-dark: #383d41;
  --opa-number-blue: #426bba;
  --opa-border-light: #e0e0e0;
  --opa-rail-light: #e4ecf5;
  --opa-indicator-blue: #2b4c8b;
}

.section .opa-tabs-wrapper{
    padding: 38px 0 0;
}

.opa-tabs {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 1.5rem;
  padding: 0 32px;
  position: relative;
}

.opa-tabs::before {
  content: '';
  position: absolute;
  left: 32px;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--opa-rail-light);
}

.opa-tabs a.tabs__link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--opa-text-dark);
  padding: 0 0 0 31px;
  margin: 0 0 16px;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.opa-tabs > div:last-child a.tabs__link {
  margin-bottom: 0;
}

.opa-tabs a.tabs__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  transform: none;
  width: 6px;
  height: 20px;
  background-color: var(--opa-indicator-blue);
}

/* Tablet */
@media (width >= 768px) {
  .opa-tabs {
    padding: 0;
  }

  .opa-tabs::before {
    left: 0;
  }
}

/* Desktop */
@media (width >= 992px) {
  .section .opa-tabs-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .opa-tabs {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0;
  }

  .opa-tabs::before {
    display: none;
  }

  .opa-tabs > div {
    flex: 1;
  }

  .opa-tabs a.tabs__link {
    padding: 25px 0;
    margin: 0;
    text-align: center;
  }

  .opa-tabs a.tabs__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 6px;
    transform: none;
    background-color: var(--opa-rail-light);
  }

  .opa-tabs a.tabs__link--active::before {
    background-color: var(--opa-indicator-blue);
  }
}

/* Large Desktop */
@media (width >= 1200px) {
  .section .opa-tabs-wrapper {
    max-width: 1180px;
    padding: 45px 15px 0;
  }
}

@media (width >= 1400px) {
  .section .opa-tabs-wrapper {
    max-width: 1230px;
    padding: 45px 15px 0;
  }
}

