/* Slides Block Styles */

/* TODO: Add styles for slides-wrapper */

/* TODO: Add styles for slides block */

/* TODO: Add styles for individual slides */

/* TODO: Add styles for slide heading */

/* TODO: Add styles for slide content */

/* TODO: Add styles for show down icon */
