/* Otsuka Button Block */
.otsuka-button a.button {
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    letter-spacing: 0.0875rem;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.5rem 1.5rem;
    line-height: 2.0938rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    background: #426bba;
    white-space: normal;
    word-wrap: break-word;
}

@media (width <= 768px) {
    .otsuka-button a.button {
        font-size: 0.8125rem;
        padding: 0.5rem 1.25rem;
        letter-spacing: 0.06rem;
    }
}

/* Blue Gray Button */
.otsuka-button a.button.blue-gray,
.otsuka-button a.button.icon-right-blue-gray,
.otsuka-button a.button.icon-left-blue-gray {
    background-color: #426bba;
    color: white;
    border: none;
}


/* White Gray Button */
.otsuka-button a.button.white-gray,
.otsuka-button a.button.icon-right-white-gray,
.otsuka-button a.button.icon-left-white-gray {
    background-color: #fff;
    color: #434343;
    border: none;
}

/* Icon Right Buttons */
.otsuka-button a.button.icon-right-blue-gray::after {
    content: "";
    display: block;
    background-image: url("/icons/arrow-norm-white-right.svg");
    background-size: contain;
    margin-left: 0.625rem;
    width: 1.0625rem;
    height: 1.0625rem;
}

.otsuka-button a.button.icon-right-white-gray::after {
    content: "";
    display: block;
    background-image: url("/icons/arrow-norm-grey-right.svg");
    background-size: contain;
    margin-left: 0.625rem;
    width: 1.0625rem;
    height: 1.0625rem;
}

/* Icon Left Buttons */
.otsuka-button a.button.icon-left-blue-gray::before {
    content: "";
    display: block;
    background-image: url("/icons/arrow-norm-white-right.svg");
    background-size: contain;
    margin-right: 0.625rem;
    width: 1.0625rem;
    height: 1.0625rem;
    transform: rotate(180deg);
}

.otsuka-button a.button.icon-left-white-gray::before {
    content: "";
    display: block;
    background-image: url("/icons/arrow-norm-grey-right.svg");
    background-size: contain;
    margin-right: 0.625rem;
    width: 1.0625rem;
    height: 1.0625rem;
    transform: rotate(180deg);
}


/* white download button */
.otsuka-button a.button.button.white-button-download {
    padding: 0.5rem 3.125rem 0.5rem 2.25rem;
    color: #426bba;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4375rem;
    letter-spacing: 0;
    position: relative;
    background: none;
    border: 1.4px solid #426bba;
    text-transform: none;
}

.otsuka-button a.button.white-button-download::after {
    content: "";
    display: block;
    width: 10px;
    height: 16px;
    margin-left: 8px;
    position: absolute;
    right: 20px;
    top: calc(50% - 8px);
    background-image: url("/icons/arrow-small-blue-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Hover states for icon buttons */
.otsuka-button a.button.blue-gray:hover,
.otsuka-button a.button.white-gray:hover,
.otsuka-button a.button.icon-right-blue-gray:hover,
.otsuka-button a.button.icon-left-blue-gray:hover,
.otsuka-button a.button.icon-right-white-gray:hover,
.otsuka-button a.button.icon-left-white-gray:hover {
    color: #fff;
    background: #434343;
    border: none;
}

.otsuka-button a.button.button.white-button-download:hover{
    color: #fff;
    background: #426bba;
    border-color: #426bba;
    padding: 0.5rem 3.125rem 0.5rem 2.25rem;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4375rem;
    letter-spacing: 0;
    position: relative;
    
}

.otsuka-button a.button.button.white-button-download:hover::after{
    background-image: url("/icons/download.svg");
}

.otsuka-button a.button.icon-left-white-gray:hover::before,
.otsuka-button a.button.icon-right-white-gray:hover::after{
    background-image: url("/icons/arrow-norm-white-right.svg");
}
