:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --heading-color: #426BBA;
  --link-hover-color: #1d3ecf;
  --onetrust-background-color: #426bba;
  --onetrust-text-color: #fff;
  --onetrust-disabled-color: #e8e8e8;
  --onetrust-secondary-color: #373d42;
  --color-white: #fff;
  --c-text: #434343;
  --c-muted: #f2f2f2;
  --c-highlight-high: #DFE3E6;
  --link-default-color: #426BBA;

  /* spacing - 8px grid system */
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 96px;
  --spacing-4xl: 128px;

  /* border radius */
  --border-radius-s: 4px;
  --border-radius-l: 24px;

  /* widths */
  --width-s: 250px;
  --width-m: 436px;
  --width-l: 750px;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;
  --f-s-xs: 0.75rem;
  --f-s-sm: 0.875rem;

  /* heading sizes */
  --heading-font-size-xxl: 3rem;
  --heading-font-size-xl: 2rem;
  --heading-font-size-l: 1.5rem;
  --heading-font-size-m: 1.25rem;
  --heading-font-size-s: 1.125rem;
  --heading-font-size-xs: 1rem;

  /* heading line heights */
  --l-h-heading-1: 1.4;
  --l-h-heading-2: 1.6;
  --l-h-heading-3: 1.3;
  --l-h-heading-4: 1.5;

  /* paragraph */
  --paragraph-font-size: 0.875rem;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}